body {
    margin: 0;
    overflow: hidden;
    background-color: black;
}

canvas {
    display: block;
    background-color: black;
}

.cursor {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: green;
    font-family: monospace;
    font-size: 24px;
    animation: blink 1s step-start infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}